.container {
        /*height: 100vh;*/
        background-image: url(/images/Back4.png);
        color: whitesmoke;
       /*padding: 4rem 0;*/
       position: relative;
       overflow: hidden;
    }
  
  .headercontainer{
    display: flex;
    justify-content: center;
    align-items: center;
      text-align: center;
      padding-top: 4rem;
      padding-bottom: 2rem;
      background-image: url(/images/back2.jpg);
      height: 500px; /* You must set a specified height */
    background-position: top; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; 
    background-attachment: fixed;
  }
  .headercontainer h1{
    font-family: var(--font-chakra);
    font-size:3rem;
    text-shadow: 2px 2px 4px #000000;
}


  
  .contentabout {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background: rgba(33, 30, 30, 0.62);
    backdrop-filter: blur(3.2px);
    -webkit-backdrop-filter: blur(3.2px);
    padding: 1rem 20px;
  position: relative;
    max-width: 1200px;
    margin: 3rem auto;
  clip-path: polygon(40px 0px, 100% 0px, 100% calc(100% - 40px), calc(100% - 40px) 100%, 0px 100%, 0px 40px);}

  
  
  .aboutImage {
    max-width: 50%;
    max-height: 400px;
    object-fit: cover;
    border: 5px solid whitesmoke;
    clip-path: polygon(40px 0px, 100% 0px, 100% calc(100% - 40px), calc(100% - 40px) 100%, 0px 100%, 0px 40px);
  }
  
  
  .aboutintrotext {
    text-align: justify;
      color: whitesmoke;
    max-width: 50%;
    
    margin: auto;
    line-height: 30px;
  }
  .aboutintrotext1 {
    text-align: justify;
    color: whitesmoke;
  max-width: 40%;
  
  margin: auto;
  line-height: 30px;
  }
  .aboutbutton1 {
    padding-top: 40px;
    margin: auto;
  width: 100%;
    text-align: center;
  }

  .bannerabout {

   padding: 20px 0;
    margin: auto;
    text-align: center;
    align-items: center;
    display: flex;
    margin-bottom: 3rem;
 
    color: whitesmoke;
    max-width: 76%;
    margin: auto;
    text-align: center;
    align-items: center;
    font-size:x-large;
    font-style: italic;
    font-family: var(--font-chakra);
    position: relative;
  }
  
 
  
  /*.aboutItems {
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  
  .aboutItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 20px;
    list-style: none;
    padding: 25px;
    background-image: linear-gradient(90deg,
        rgba(165, 215, 232, 0.42) 0%,
        rgba(255, 255, 255, 0) 100%);
    background-size: 0% 100%;
    background-repeat: no-repeat;
    transition: 0.4s;
  }
  
  .aboutItem:hover {
    background-size: 100% 100%;
  }
  
  .aboutItem h3 {
    font-size: 25px;
    font-weight: 600;
  }
  
  .aboutItem p {
    font-size: 25px;
  }*/
  .featurebox {
    display: flex;
    flex-direction: column;

  }
  .feature {
    
    color: whitesmoke;
    margin-bottom: 20px;
  }
  
  .feature h2 {
    font-size: 38px;
    text-align: center;
    font-family: var(--font-chakra);
  }
  
  .cardsection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  @media screen and (max-width: 830px) {
    .container {
      background-color: transparent;
      padding-left: 0;
      padding-right: 0;
      margin: auto;
      
    }
    .headercontainer{
      max-width: 100%;
      padding-bottom: 0;
      height: 400px;
  }
    .contentabout{
      max-width: 90%;
      padding: 4rem 0;
    }
  
   
   
   
  
  
  
    .aboutImage {
      max-width: 100%;
      width: 100%;
    }
  
    .aboutintro {
      flex-direction: column;
    }
  
    .aboutintrotext  {
      max-width: 100%;
      width: 90%;
      padding-top: 2rem ;
    }
    .aboutintrotext1 {
      max-width: 100%;
      width: 100%;
      padding-top: 2rem ;
      text-align: center;
    }
  
    .bannerabout {
      max-width: 95%;
      font-size: 22px;
    }
    .feature {
      margin-top: 10px;
    }
    .feature h2 {
      font-size: 28px;
    
    }
  
    .cardsection {
      flex-direction: column;
    align-items: center;
    }
  }