.imagewrap {
   

    margin: 0 auto;
    overflow: hidden;
    position: relative;
    text-align: center;


}

.imagewrap img {

    animation: kenburns 15s infinite;
    width: 100%;
    height: 90vh;
    object-fit: cover;
}


.text1 {
   text-align: left;
}



.text3 {
   text-align: right;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 5px;
    width: 60%;
    font-size: 2.5rem;
    color: whitesmoke;
}

@keyframes kenburns {

    0% {
        opacity: 0;
    }

    5% {
        opacity: 1;
    }

    95% {
        transform: scale3d(1.5, 1.5, 1.5) translate3d(-160px, -120px, 0px);
        animation-timing-function: ease-in;
        opacity: 1;
    }

    100% {
        transform: scale3d(2, 2, 2) translate3d(-170px, -100px, 0px);
        opacity: 0;
    }

    /* 0% {
        -webkit-transform-origin: bottom left;
        -moz-transform-origin: bottom left;
        -ms-transform-origin: bottom left;
        -o-transform-origin: bottom left;
        transform-origin: bottom left;
        transform: scale(1.0);
        -ms-transform: scale(1.0);
      
        
        -webkit-transform: scale(1.0);
       
        
        -o-transform: scale(1.0);
        
        
        -moz-transform: scale(1.0);
       
      }
      100% {
        transform: scale(1.2);
        -ms-transform: scale(1.2);
        
        
        -webkit-transform: scale(1
        
        -o-transform: scale(1.2);
     
        
        -moz-transform: scale(1.2);
      
      }
      
   */
}

@keyframes kenburns-mobile {

    0% {
        opacity: 0;
    }

    5% {
        opacity: 1;
    }

    95% {
        transform: scale3d(1.5, 1.5, 1.5) translate3d(-60px, -120px, 0px);
        animation-timing-function: ease-in;
        opacity: 1;
    }

    100% {
        transform: scale3d(2, 2, 2) translate3d(-70px, -100px, 0px);
        opacity: 0;
    }

    /* 0% {
        -webkit-transform-origin: bottom left;
        -moz-transform-origin: bottom left;
        -ms-transform-origin: bottom left;
        -o-transform-origin: bottom left;
        transform-origin: bottom left;
        transform: scale(1.0);
        -ms-transform: scale(1.0);
      
        
        -webkit-transform: scale(1.0);
       
        
        -o-transform: scale(1.0);
        
        
        -moz-transform: scale(1.0);
       
      }
      100% {
        transform: scale(1.2);
        -ms-transform: scale(1.2);
        
        
        -webkit-transform: scale(1
        
        -o-transform: scale(1.2);
     
        
        -moz-transform: scale(1.2);
      
      }
      
   */
}


/* Media query for mobile */
@media (max-width: 768px) {
    .imagewrap img {
        animation: kenburns-mobile 30s infinite;
    }
}


@media screen and (max-width: 830px) {

    .imagewrap img {
        width: 100%;
        height: 90vh;
        /*object-fit: cover;*/
    }

    .text {
        width: 100%;
        font-size: 1.5rem;
         line-height: 50px;
        letter-spacing: 5px; }
     

    .text1 {
        text-align: center;
     }
     
     
     
     .text3 {
        text-align: center;
     }

}