
.contactPageContainer{
    /*height: 100vh;*/
    background-image: url(/images/Back4.png);
    color: whitesmoke;
   /*padding: 4rem 0;*/
   position: relative;
   overflow: hidden;
}

.headercontainer{
  display: flex;
  justify-content: center;
  align-items: center;
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 2rem;
    background-image: url(/images/back2.jpg);
    height: 500px; /* You must set a specified height */
  background-position: top; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; 
  background-attachment: fixed;
}

.headercontainer h1{
    font-family: var(--font-chakra);
    font-size:3rem;
    text-shadow: 2px 2px 4px #000000;
}

@media screen and (max-width: 830px) {
    .headercontainer{
        max-width: 100%;
        padding-bottom: 0;
        height: 400px;
    }
}

.firstBlock{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background: rgba(33, 30, 30, 0.62);
  backdrop-filter: blur(3.2px);
  -webkit-backdrop-filter: blur(3.2px);
  padding: 1rem 20px;
position: relative;
  max-width: 1200px;
  margin: 3rem auto;
clip-path: polygon(40px 0px, 100% 0px, 100% calc(100% - 40px), calc(100% - 40px) 100%, 0px 100%, 0px 40px);}

@media screen and (max-width: 830px) {
  .firstBlock{
    max-width: 90%;
    margin-bottom: 6rem;
    max-height: 900px;
    padding-bottom: 8rem;
  }
}

.pitanjatcontainer{
  max-width: 450px
}

.pitanjatlist {
  list-style-type: none;
  /*margin-left: -30px;*/
  padding-right: 20px;
  padding-bottom: 40px;
  padding-top: 20px;
}

@media screen and (max-width: 830px) {
  .pitanjalist{
    padding-bottom: 20px;
  }
}

.pitanjalistitem {
  line-height: 4;
  color: var(--main-green);
  
}
@media screen and (max-width: 830px) {
  .pitanjalistitem{
      margin-bottom: 0;
  }
}

.pitanjatext {
  font: 300 18px 'Lato', sans-serif;
  letter-spacing: 1.9px;
  color: whitesmoke;
}

.pitanje1 {
  margin-left: 70px;
}

.pitanje2 {
  margin-left: 45px;
}

.pitanje3 {
  margin-left: 53px;
}

 
     .pisitenam {
      position: relative;
      font-size: 22px;
      text-align: center;
      width: 100%;
      margin: 1rem auto;
      padding: 0;
    }
    .pisitenam h2{
      letter-spacing: 2px;
      color: var(--main-green);
    }
  
    .radujemo {
      margin-top: 0.5rem;
      font: 200 14px 'Oswald', sans-serif;
      color: #777;
      letter-spacing: 1px;
      text-align: center;
      margin-bottom: 2rem;
    }
  

.widgetcontainer{
  margin: 0px -90px -120px -40px;

  animation: up-down linear 4s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: up-down linear 4s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: up-down linear 4s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -o-animation: up-down linear 4s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -ms-animation: up-down linear 4s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%;
}

@media screen and (max-width: 830px) {
  .widgetcontainer{
    margin: -50px -60px -120px -90px;
  }
}

.roboImage{
  width: 500px;
  height: auto;
  max-width: 100%;
}

.contactwrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 3rem auto;
    padding: 20px;
    position: relative;
    max-width: 1200px;
    background: rgba(33, 30, 30, 0.62);
    backdrop-filter: blur(3.2px);
    clip-path: polygon(40px 0px, 100% 0px, 100% calc(100% - 40px), calc(100% - 40px) 100%, 0px 100%, 0px 40px);
}

@media screen and (max-width: 830px) {
    .contactwrapper{
        justify-content: center;
        max-width: 90%;
    }
}


.formhorizontal{
    max-width: 450px;
    width: 100%;
    font-family: 'Lato';
    font-weight: 400;
    margin-bottom: 2rem;
}

.label {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 6px;
    text-transform: capitalize;
  }
  .input
  .textarea,
  .select,
  .nice-select {
    border: none;
    line-height: 1.923;
    font-weight: 400;
    box-shadow: none;
    width: 100%;
    outline: none;
    transition: all 0.2s ease-out; 
   
  }

.input::placeholder, .textarea::placeholder{
    font-size: 18px;
}

  .input:focus, .textarea:focus{
    transition: all 0.2s ease-out;
    outline: 0;
    border-color: whitesmoke !important;
  
  }

  .input:focus::placeholder, .textarea:focus::placeholder{
    transition: all 0.2s ease-out;
      font-size: 16px;
  }

  .credencialContainer,
    .messageContainer {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }

    .credencialContainer div,.messageContainer div {
        padding-top: 50px;
        width: 100%;
        display: flex;
        flex-direction: column;
        
      }

      .formControl {
        background-color: #343434;
        padding-left: 5px;
        font-size: 14px;
        color: #c2c2c2;
        border-bottom: 2px solid var(--main-green);
        border-color: var(--main-green) !important;
      }

      .credencialContainer .formControl  {
       
          height: 39px;
        
      }

      .btnContainer{
        padding: 1rem 0;
      }

      .sendtext {
        margin-left: 10px;
        letter-spacing: 2px;
      }


/*right side*/

.directcontactcontainer{
    max-width: 450px
}

      .contactlist {
        list-style-type: none;
        /*margin-left: -30px;*/
        padding-right: 20px;
        padding-bottom: 40px;
      }

      .listitem {
        line-height: 4;
        color: var(--main-green);
 
      }
      @media screen and (max-width: 830px) {
        .listitem{
            margin-bottom: 0;
        }
    }

      .contacttext {
        font: 300 18px 'Lato', sans-serif;
        letter-spacing: 1.9px;
        color: whitesmoke;
      }

      .place {
        margin-left: 62px;
      }
      
      .phone {
        margin-left: 56px;
      }
      
      .gmail {
        margin-left: 53px;
      }

      .contacttext a {
        color: whitesmoke;
        text-decoration: none;
        transition-duration: 0.2s;
      }
      
      .contacttext a:hover {
        color: #fff;
        text-decoration: none;
      }

      /* Social Media Icons */
.socialmedialist {
    position: relative;
    font-size: 22px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }

  .socialmedialist li a {
    color: var(--main-green);
  }

  .socialmedialist li {
    position: relative; 
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 10px 3px;
    line-height: 60px;
    border-radius: 50%;
    color: #fff;
    background-color: rgb(27,27,27);
    cursor: pointer; 
    transition: all .2s ease-in-out;
  }

  .socialmedialist li:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 0 0 0 1px #fff;
    transition: all .2s ease-in-out;
  }

  .socialmedialist li:hover {
    background-color: #fff; 
  }
  
  .socialmedialist li:hover:after {
    opacity: 1;  
    transform: scale(1.12);
    transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
  }
  
  .socialmedialist li:hover a {
    color: #000;
  }

  .copyright {
    font: 200 14px 'Oswald', sans-serif;
    color: #777;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 0.5rem;
  }
  
  .hrr {
    border-color: rgba(255,255,255,.6);
  }


  @keyframes up-down{
    0% {
      transform:  translate(1px,20px)  ;
    }
    24% {
      transform:  translate(1px,30px)  ;
    }
    50% {
      transform:  translate(1px,12px)  ;
    }
    74% {
      transform:  translate(1px,22px)  ;
    }
    100% {
      transform:  translate(1px,22px)  ;
    }
  }